@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&display=swap');

:root {
    --textgrey: rgb(23,23,23);
    --offyellow: rgb(254, 254, 230);
    --border-accent: rgb(231, 235, 195);
    --bgblue: rgb(20, 64, 94);
    --light-accent-yellow-hsl: hsla(48.89,58.27%,72.75%,1);
    --off-white: rgb(236, 235, 226);
}

body {
    background-color: var(--off-white);
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

header {
    height:150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-10px;
    padding:10px;
    width:100%;
    background:linear-gradient(var(--light-accent-yellow-hsl), rgba(255, 255, 255, 0)) ;
    position:absolute;
}

#logo-head {
    height:200px;
    margin-top:20px;
    margin-left:20px;
}

header a {
    color:var(--textgrey);
    margin-right:20px;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top:10px;
    font-family: "Poppins";
    text-decoration: none;
}

header a:hover {
    color:var(--bgblue);
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.splash-container, .featured-container {
    display:grid;
    width:100%;
    grid-template-columns: repeat(11, 1fr);
    margin-top:25px;
}

.splash-container {
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(136, 136, 243, 0.226)), url(assets/seaweedwall.png);
}

.splash {
    margin:50px 0;
    height:800px;
    display:flex;
    align-items: center;
    border-radius: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.19)), url("assets/fish\ img.png");
    background-size: cover;
    background-position: top;
    flex-direction: column;
    grid-column: 2 / 11;
    border:3px solid var(--bgblue);
    border-top:0px;
    justify-content: center;
}

.splash h1 {
    font-size:3em;
    text-align: center;
    color:var(--textgrey);
}
.splash h1 em {
    font-size: 1.5em;
    color: var(--border-accent);
}

.splash h3 {
    color:var(--off-white);
    width:90%;
    margin-left:5%;
    padding:0;
    text-align: center;
    margin-top:0;
    font-family: Quintessential;
}

.splash button {
    padding:20px;
    background-color: rgb(20, 64, 94);
    color:var(--off-white);
    border-radius: 3em;
    border:1px solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: "Love Ya Like A Sister";
    font-size:1.2em;
    margin-top:1em;
}

.splash button:hover {
    background-color: rgb(16, 50, 71);
    border:none;
}

.featured {
    grid-column: 2 / 11;
}

.featured h2 {
    font-family: 'Poppins';
    font-weight:300;
    text-align: center;
}

.collection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.featured .collection img {
    min-height:200px;
    min-width:250px;
    margin-bottom:10px;
    width:90%;
    justify-self: center;
}

.featured .collection img:hover {
    transform:scale(1.1);
    transition: ease 0.1s;
}